<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>爱信</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/static/layui/css/layui.mobile.css" media="all">
<link rel="stylesheet" href="/static/layer_mobile/layer-mobile.css?v=<?php echo date('YmdHi'); ?>" media="all">
<link rel="stylesheet" href="/static/index/swipe/swipe.css?v=<?php echo date('YmdHi'); ?>" media="all">
<link rel="stylesheet" href="/static/index/start.css?v=<?php echo date('YmdHi'); ?>" media="all">

  
</head>
<body style="background: url(/static/admin/images/irongrip.png) repeat">

</body>
<script src="/static/index/swipe/swipe.js?v=<?php echo date('YmdHi'); ?>"></script>
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/layer_mobile/layer.js?v=<?php echo date('YmdHi'); ?>"></script>
<script src="/static/index/layim-ext.js?v=<?php echo date('YmdHis'); ?>"></script>
<script type="text/javascript">
    layui.config({version:'1.0.3'}).use('mobile', function(){
      var mobile = layui.mobile,
      layim = mobile.layim; 
      var layer = layui['layer-mobile'];
        //基础配置
        var layimConf = {
            // //获取主面板列表信息
            init:  null,
            uploadFile: {
                url: "/index/upload/uploadFile"
            }
            ,uploadImage: {
                url: "/index/upload/uploadimg"
            }
            ,moreList: [{
              alias: 'setting'
              ,title: '设置'
              ,iconUnicode: '&#xe628;' //图标字体的unicode，可不填
              ,iconClass: '' //图标字体的class类名
            }]                
            ,brief: false //是否简约模式（默认false，如果只用到在线客服，且不想显示主面板，可以设置 true）
            ,title: '爱信' //主面板最小化后显示的名称
            ,maxLength: 3000 //最长发送的字符长度，默认3000
            ,notice: true //是否开启好友（默认true，即开启）
            ,isgroup: true //是否开启群组（默认true，即开启）
            ,copyright: false //是否授权，如果通过官网捐赠获得LayIM，此处可填true
        };

        layimExt.init({
            //socket地址以及携带的参数，如果需要自己初始化socket，可忽略该配置
            socketPath:{
                url:'ws://ext.laykefu.com:8282',
                data:"?&code=6e43NLODgDHOjo/ujBLoiAtqPQLj076HH7sKZRuDe2NcOWFa4FefO0w&avatar=http://cdn.firstlinkapp.com/upload/2016_6/1465575923433_33812.jpg&username=%E7%BA%B8%E9%A3%9E%E6%9C%BA&room=4"
            },
            //客户端主动发送的心跳(若心跳由服务端负责，可忽略该配置)
            socketPing:{
                data:{
                    type:"ping"
                },
                times:"20000"
            },            
            //socket握手成功后调用的方法(生命周期内只调用一次)，有个性化需求可忽略该配置
            socketInit:{
                data:{
                    type:"init",
                    id:"{$data.id}",
                    username:"{$data.username}",
                    avatar:"{$data.avatar}",
                    sign:"{$data.sign}"
                }
            },           
            //栗子
            //返回参数参考 https://www.layui.com/doc/modules/layim.html#init
            // getList:{
            //     url:'/index/getList',//接口地址 
            //     type:'get',//默认为get方式
            //     data:{
            //          id: 1,
            //          type: friend
            //     }//额外参数
            // },
            //初始化列表
            getList:{
                url:'/index/index/getList',
                type:'get',//默认为get方式
                data:{}//额外参数                
            },
            //获取群成员列表
            getMembers:{
                url:'/index/index/getMembers',
                data:{}
            },            
            // //获取我的好友
            // getMyfriend:{
            //     url:'/index/index/getMyfriend',
            //     data:{}
            // },
            //获取成员详细信息
            getUserInfo:{
                url:'/index/index/getUserInfo',
                data:{}
            },
            //获取群详细信息
            getGroupSet:{
                url:'/index/index/getGroupSet',
                data:{}
            },
            //群设置管理员
            manager:{
                url:'/index/index/manager',
                data:{}
            },                  
            //确认删除群成员
            addSureIntoGroup:{
                url:'/index/index/addSureIntoGroup',
                data:{}
            },            
            //确认删除群成员
            delSureFromGroup:{
                url:'/index/index/delSureFromGroup',
                data:{}
            },            
            //是否是公开群
            isPublic:{
                url:'/index/index/isPublic',
                data:{}
            },            
            //入群是否需要验证
            verify:{
                url:'/index/index/verify',
                data:{}
            },
            //确认禁言
            sureGag:{
                url:'/index/index/gag',
                data:{}
            },
            //解除禁言
            removeGag:{
                url:'/index/index/gag',
                data:{}
            },              
            //移出群
            removeGroup:{
                url:'/index/index/removegroup',
                data:{}
            },              
            //退出
            logout:{
                url:'/index/index/logout',
                data:{}
            },            
            layim:layim,
            layimConf:layimConf,
            layer:layer,
            userIdentity:{
                owner:'1',
                manager:'2',
                user:'3'
            }
        });     

        // socket = new WebSocket('ws://127.0.0.1:8282/{$data.code}');
        // //连接成功时触发
        // setInterval(function(){
        //     socket.send('{"type":"ping"}');
        // },20000);         
        // $.isEmptyObject(config.socketPing.data) || setInterval(function(){
        //     socketSend(config.socketPing.data);
        // },20000); 

        layimExt.on('userInfo',function(data){
            
        });
     
        layimExt.on('detail',function(data){

        });         
        layimExt.on('gag',function(data){

        });
        layimExt.on('sureGag',function(data){

        });    
        layimExt.on('removeGag',function(data){
            
        });         
        layimExt.on('addSureIntoGroup',function(data){
            
        });           
        layimExt.on('delSureFromGroup',function(data){
            
        });   
        // 发送socket消息        
        layimExt.on('sendMessage',function(data){
            layimExt.socketSend({
                type:"chatMessage",
                data:{
                    mine: data.mine,
                    to: data.to
                }
            });
        });            
        // 添加群成员后发送socket消息        
        layimExt.on('socketAddSureIntoGroup',function(data){
            layimExt.socketSend({
                type:"addIntoGroup",
                data:{
                    uids: data.uids,
                    id:data.groupid,
                    groupname:data.groupname
                }
            });
        });         
        // 删除群成员后发送socket消息        
        layimExt.on('socketDelSureFromGroup',function(data){
            layimExt.socketSend({
                type:"delFromGroup",
                data:{
                    uids: data.uids,
                    id:data.groupid,
                    groupname:data.groupname
                }
            });
        });        
        // 确认禁言成功后 发送socket消息        
        layimExt.on('socketSureGag',function(data){
            layimExt.socketSend({
                type:'gag',
                data:{
                    uid: data.id,
                    id: data.groupid,
                    groupname:data.groupname
                }
            });
        });   
   
        // 取消禁言成功后 发送socket消息        
        layimExt.on('socketRemoveGag',function(data){
            layimExt.socketSend({
                type:'removeGag',
                data:{
                    uid: data.id,
                    id: data.groupid,
                    groupname:data.groupname
                }
            });
        });           
        
        // 群员移出群成功后 发送socket消息        
        layimExt.on('socketRemoveGroup',function(data){
            layimExt.socketSend({
                type:'removeMember',
                data:{
                    uid: data.id,
                    id: data.groupid,
                    groupname:data.groupname
                }
            });
        });                  
    
    });     
</script>
</html>